.wrap {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
}

.align-center {
  text-align: center;
}

.font-xl {
  font-size: 3em;
}

.mt-15 {
  margin-top: 15px;
}

.mt-60 {
  margin-top: 60px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.btn {
  width: 20%;
}
